* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(/images/show1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@-webkit-keyframes logoEntry {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes logoEntry {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes right {
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes right {
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes left {
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes left {
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.logo {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: logoEntry 1.5s cubic-bezier(1, -0.03, 0.22, 1.68);
          animation: logoEntry 1.5s cubic-bezier(1, -0.03, 0.22, 1.68);
}

.logo__svg {
  fill: green;
}

.logo__svg-text {
  -webkit-transform: translate(1px, 74px);
          transform: translate(1px, 74px);
  fill: none;
  font-size: 71px;
  font-family: VerminVibesV, Vermin Vibes V;
}

.carousel {
  position: relative;
  width: 70%;
  height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carousel__btn {
  border: none;
  background-color: transparent;
  width: 20px;
  position: absolute;
  top: 50%;
  outline: none;
  cursor: pointer;
}

.carousel__btn svg {
  height: 30px;
  fill: #fff;
}

.carousel__btn svg:hover {
  fill: #f4791f;
}

.carousel__btn--left {
  left: -35px;
  -webkit-animation: left 1s infinite alternate linear;
          animation: left 1s infinite alternate linear;
}

.carousel__btn--right {
  right: -35px;
  -webkit-animation: right 1s infinite alternate linear;
          animation: right 1s infinite alternate linear;
}

.carousel__list {
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel__list--item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carousel__img {
  width: 500px;
}

.carousel__nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__nav-btn {
  border: none;
  padding: 5px;
  border-radius: 50%;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}

.carousel__nav-btn:hover {
  background-color: #f4791f;
}

.carousel__nav-btn--current {
  background-color: green;
}
/*# sourceMappingURL=style.css.map */